html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    overflow: hidden;
    background-color: #cecece;
}

#tree {
    width: 100%;
    height: 100%;
}

/*

[lcn='hr-team']>rect {
    fill: #FFCA28;
}

[lcn='sales-team']>rect {
    fill: #F57C00;
}

[lcn='top-management']>rect {
    fill: #f2f2f2;
}

[lcn='top-management']>text,
.assistant>text {
    fill: #aeaeae;
}

[lcn='top-management'] circle,
[lcn='assistant'] {
    fill: #aeaeae;
}

.assistant>rect {
    fill: #ffffff;
}

.assistant [control-node-menu-id]>circle {
    fill: #aeaeae;
}

.it-team>rect {
    fill: #b4ffff;
}

.it-team>text {
    fill: #039BE5;
}

.it-team>[control-node-menu-id] line {
    stroke: #039BE5;
}

.it-team>g>.ripple {
    fill: #00efef;
}

.hr-team>rect {
    fill: #fff5d8;
}

.hr-team>text {
    fill: #ecaf00;
}

.hr-team>[control-node-menu-id] line {
    stroke: #ecaf00;
}

.hr-team>g>.ripple {
    fill: #ecaf00;
}

.sales-team>rect {
    fill: #ffeedd;
}

.sales-team>text {
    fill: #F57C00;
}

.sales-team>[control-node-menu-id] line {
    stroke: #F57C00;
}

.sales-team>g>.ripple {
    fill: #F57C00;
}

*/
