{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} manufactures {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card" align="right" dir="rtl">
      <div class="card-header">
        <h4 class="card-title"> تولیدات </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  نام
                </th>
                <th>
                  کد
                </th>
                <th>
                  توضیحات
                </th>
                <th class="text-center">
                 تیراژ
                </th>
              </tr>
            </thead>
            <tbody>
            {% for Manufacture in manufactures %}
              <tr>
                <td> <a href="{{ Manufacture.get_absolute_url }}"> {{ Manufacture.product }} </a> </td>
                <td> {{ Manufacture.code }} </td>
                <td> {{ Manufacture.description|slice:":60" }}... </td>
                <td class="text-center"> {{ Manufacture.circulation }} </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
