{% extends "layouts/base.html" %}
{% load static %}
{% block title %} manufactures detail  {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}


<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title"> تولید {{ manufacture.product }} <small> ({{ manufacture.code }}) </small> </h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                توضیحات
              </th>
              <th class="text-center">
                کد
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ manufacture.product }} </td>
              <td> {{ manufacture.description|slice:":70" }} </td>
              <td class="text-center"> {{ manufacture.code }}  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12">
  <div class="card card-user">
    <div class="card-body">
      <p class="card-text"> jjj </p>
      <div class="card-description">

        {% for Product in manu_product %}
         <p class="category"> {{ Product.name }} </p>
        {% endfor %}
        

      </div>
    </div>
  </div>
</div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>


    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
