{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}


<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
        <h3 align="center" class="card-title"> {{ process.name }} </h3>
      <h5 class="card-category">
        وضعیت:
      </h5>
      <h4 class="card-title">
        {% if process.position == "M" %} قطعه <i class="tim-icons icon-app"></i>{% endif %}
        {% if process.position == "R" %} انبار <i class="tim-icons icon-basket-simple"></i>{% endif %}
        {% if process.position == "T" %} انتقال <i class="tim-icons icon-delivery-fast"></i>{% endif %}
        {% if process.position == "S" %} ایستگاه <i class="tim-icons icon-settings"></i> {% endif %}
        {% if process.position == "P" %}  محصول  <i class="tim-icons icon-bag-16"></i> {% endif %}
      </h4>
    </div>
    <div class="card-body">
      <div align="right" dir="rtl" class="card-description">
        <p class="category"> {{ process.description|linebreaks }} </p>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="card-header ">
        <div class="card-header">
          <h3 class="card-title"><i class="tim-icons icon-bullet-list-67 text-primary"></i> فرآیندهای قبل </h3>
        </div>
      </div>
      <div class="card-body" align="right" dir="rtl">
        <div class="table-full-width table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>
                  نام
                </th>
                <th>
                   محصول مرتبط
                </th>
                <th class="text-center">
                  تعداد
                </th>
                <th class="text-center">
                  وضعیت
                </th>
              </tr>
            </thead>
            <tbody>
              {% for Tree in input %}
               {% for node in Tree.get_children %}
                  <tr>
                    <td>
                     <p class="title"> {{ node.name }} </p>
                    </td>
                    <td class="td-actions">
                      {% for relatedProduct in node.relatedProduct.all %} {{ relatedProduct }} {% endfor %}
                    </td>
                    <td class="text-center">
                      {{ node.quantity }}
                    </td>
                    <td class="text-center">
                      <div class="photo">
                      {% if node.name.position == "M" %}
                      <img src="{% static 'assets/img/m.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "R" %}
                      <img src="{% static 'assets/img/r.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "T" %}
                      <img src="{% static 'assets/img/t.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "S" %}
                      <img src="{% static 'assets/img/s.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "P" %}
                      <img src="{% static 'assets/img/p.png' %}" class="img-responsive" />
                      {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
               {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="card-header ">
        <div class="card-header">
          <h3 class="card-title"><i class="tim-icons icon-bullet-list-67 text-primary"></i>  فرآیندهای بعد </h3>
        </div>
      </div>
      <div class="card-body" align="right" dir="rtl">
        <div class="table-full-width table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>
                  نام
                </th>
                <th>
                   محصول مرتبط
                </th>
                <th class="text-center">
                  تعداد
                </th>
                <th class="text-center">
                  وضعیت
                </th>
              </tr>
            </thead>
            <tbody>
              {% for Tree in input %}
               {% for node in Tree.get_children %}
                  <tr>
                    <td>
                     <p class="title"> {{ node.name }} </p>
                    </td>
                    <td class="td-actions">
                      {% for relatedProduct in node.relatedProduct.all %} {{ relatedProduct }} {% endfor %}
                    </td>
                    <td class="text-center">
                      {{ node.quantity }}
                    </td>
                    <td class="text-center">
                      <div class="photo">
                      {% if node.name.position == "M" %}
                      <img src="{% static 'assets/img/m.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "R" %}
                      <img src="{% static 'assets/img/r.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "T" %}
                      <img src="{% static 'assets/img/t.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "S" %}
                      <img src="{% static 'assets/img/s.png' %}" class="img-responsive" />
                      {% endif %}
                      {% if node.name.position == "P" %}
                      <img src="{% static 'assets/img/p.png' %}" class="img-responsive" />
                      {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
               {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category"> موجودی ایستگاه </h5>
        <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-primary"></i> {{ process.inventory }} </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- Chart code -->

          <script>
             var input_data = [
               {% for Tree in input %}
                {% for node in Tree.get_children %}
                  { "a": "{{ node.name }}", "b": {{ node.capacity }} },
                {% endfor %}
               {% endfor %}
             ];
          </script>

          <script>
          am4core.ready(function() {
          // Themes begin
          am4core.useTheme(am4themes_animated);
          // Themes end
          // Create chart instance
          var chart = am4core.create("chartdiv", am4charts.PieChart);

          // Add data
          chart.data = input_data;

          // Add and configure Series
          var pieSeries = chart.series.push(new am4charts.PieSeries());
          pieSeries.dataFields.value = "b";
          pieSeries.dataFields.category = "a";
          pieSeries.slices.template.stroke = am4core.color("#fff");
          pieSeries.slices.template.strokeWidth = 2;
          pieSeries.slices.template.strokeOpacity = 1;

          // This creates initial animation
          pieSeries.hiddenState.properties.opacity = 1;
          pieSeries.hiddenState.properties.endAngle = -90;
          pieSeries.hiddenState.properties.startAngle = -90;

          }); // end am4core.ready()
          </script>

          <!-- HTML -->
          <div id="chartdiv"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-category"> مسئول ایستگاه </h5>
        <h3 class="card-title"><i class="tim-icons icon-single-02 text-primary"></i> {{ process.manager }} </h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <a href="javascript:void(0)">
              <img class="avatar" src="{{ request.user.profile.user_photo.url }}" >
              <h5 class="title">
               {{ request.user.first_name }} {{ request.user.last_name }}
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            {{ request.user.profile.email }}
        </div>
      </div>

    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
         process location
      </div>

      {% load mapbox_location_field_tags %}
      {% location_field_includes %}
      {% include_jquery %}

        <div class="col-12  col-xl-12 pr-0 pr-md-4 ">
           {{  Process.location }}
          <div class="border" id="map" width="100%" style='height:400px'></div>
        </div>

            <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoiZG9yb3N0a2FyIiwiYSI6ImNrbmVjdzg3djFkb3EycG8wZW5sdjNld3YifQ.AeDSXrxKTXAxPdIEESuPqA';
                var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [17.69439, 51.42151],
                zoom: 9,
                // bearing: 180
                });
            </script>

    </div>
  </div>
</div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>


    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
