{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}



<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title"> محصول {{ product.name }} <small> ({{ product.code }}) </small> </h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                کد
              </th>
              <th>
                توضیحات
              </th>
              <th class="text-center">
                تصویر
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="{{ Product.get_absolute_url }}"> {{ product.name }} </a></td>
              <td> {{ product.code }} </td>
              <td> {{ product.description|slice:":50" }} </td>
              <td class="text-center">
                <div class="photo">
                  <img src="{{ product.image.url }}" alt="Profile Photo">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12">
  <div class="card card-user">
    <div class="card-body">
      <p class="card-text">
        <div class="author">
          <div class="block block-one"></div>
          <div class="block block-two"></div>
          <div class="block block-three"></div>
          <div class="block block-four"></div>
          <img width="20%" src="{{ product.image.url }}">
        </div>
      </p>
      <div align="right" dir="rtl" class="card-description">
        <p class="category"> {{ product.description }} </p>
      </div>
    </div>
  </div>
</div>
</div>



    <div class="row">
      <div class="col-12">
        <div class="card card-chart">

            <button onclick="sampleDiv.style.zoom='20%'"> Zoom 20% </button>
            <button onclick="sampleDiv.style.zoom='30%'">  Zoom 30%  </button>
            <button onclick="sampleDiv.style.zoom='40%'"> Zoom 40% </button>

            <div id="sampleDiv">
           <div class="pg-orgchart">
            <div class="org-chart">
                <ul>
                  {% recursetree nodes %}
                      <li>
                        <div class="user">
                          {% if node.name.position == "M" %}
                          <img src="https://icon-library.com/images/product-icon/product-icon-8.jpg" class="img-responsive" />
                          {% endif %}
                          {% if node.name.position == "R" %}
                          <img src="https://icon-library.com/images/repository-icon/repository-icon-18.jpg" class="img-responsive" />
                          {% endif %}
                          {% if node.name.position == "T" %}
                          <img src="https://cdn1.vectorstock.com/i/1000x1000/93/00/delivery-transport-car-line-icon-simple-modern-vector-25989300.jpg" class="img-responsive" />
                          {% endif %}
                          {% if node.name.position == "S" %}
                          <img src="https://www.kindpng.com/picc/m/73-730663_process-icon-hd-png-download.png" class="img-responsive" />
                          {% endif %}
                          <div class="name"> {{ node.name }} </div>
                          <div class="role"> {{ node.name }} </div>
                          <a class="manager" href="#"> {{ node.quantity }} </a>
                        </div>
                         {% if not node.is_leaf_node %}
                          <ul> {{ children }} </ul>
                         {% endif %}
                      </li>
                  {% endrecursetree %}
                </ul>
           </div>
         </div>
       </div>



        </div>
      </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>


    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
