{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1> search...</h1>



{% if messages %}
{% for k in messages %}
<br> <br>
<h5 style="color:#ffc107;" dir="rtl" align="center"> {{k}} </h5>
{% endfor %}
{% endif %}




{% if sr %}

  {% for Station in sr %}
        {{ Station.name }} <br>
  {% endfor %}
  <hr>
  {% for Product in sr %}
        {{ Product.name }} <br>
  {% endfor %}









{% endif %}








{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
