{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">


      <div class="col-12">
        <div class="card card-chart">


              <div id="tree"> <div>
                <br><br><br><br><br><br>
                <br><br><br><br><br><br>
                <br><br><br><br><br><br>



                {% for product in products %}
                  <p> {{ product.id }} </p>
                  <p> {{ product.pid }} </p>
                  <p> {{ product.name }} </p>
                  <p> ------------------ </p>
               {% endfor %}




        </div>
      </div>

    </div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
