{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="row">



                {% for Place in places %}
                  <p>{{ Place.name }}</p>
                {% endfor %}



          </div>
        </div>
      </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>


    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });

  </script>

{% endblock javascripts %}
