{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}



<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
        <h3 align="center" class="card-title"> {{ station.name }} </h3>
      <h5 class="card-category">
        وضعیت:
      </h5>
      <h4 class="card-title">
        {% if station.position == "M" %}<i class="tim-icons icon-app"></i>{% endif %}
        {% if station.position == "R" %}<i class="tim-icons icon-basket-simple"></i>{% endif %}
        {% if station.position == "T" %}<i class="tim-icons icon-delivery-fast"></i>{% endif %}
        {% if station.position == "S" %} ایستگاه <i class="tim-icons icon-settings"></i> {% endif %}
      </h4>
    </div>
    <div class="card-body">
      <div align="right" dir="rtl" class="card-description">
        <p class="category"> {{ station.description|linebreaks }} </p>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card card-tasks">
      <div class="card-header ">
        <div class="card-header">
          <h3 class="card-title"><i class="tim-icons icon-bullet-list-67 text-primary"></i> ورودی ها </h3>
        </div>
      </div>
      <div class="card-body ">
        <div class="table-full-width table-responsive">
          <table class="table">
            <tbody>

              {% for inputs in station.inputs.all %}
              <tr>
                <td>
                  <p class="title"> <a href="{{ inputs.get_absolute_url }}"> {{ inputs.name }} </a> </p>
                </td>
                <td>
                  <p class="text-muted"> {{ inputs.description|slice:":60" }}</p>
                </td>
                <td class="td-actions">
                  {{ inputs.manager }}
                </td>
                <td class="td-actions">
                  {{ inputs.capacity }}
                </td>
                <td class="td-actions text-right">
                  {{ inputs.position }}
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category"> ظرفیت ایستگاه </h5>
        <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-primary"></i> {{ station.capacity }} </h3>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- Chart code -->
          <script>
          am4core.ready(function() {

          // Themes begin
          am4core.useTheme(am4themes_animated);
          // Themes end

          // Create chart instance
          var chart = am4core.create("chartdiv", am4charts.PieChart);

          // Add data
          chart.data = [
          {
          "a": "باقی مانده",
          "b": {{ station.capacity }}//-10
          },
          {
          "a": "مصرف شده",
          "b": 150
          }];

          // Add and configure Series
          var pieSeries = chart.series.push(new am4charts.PieSeries());
          pieSeries.dataFields.value = "b";
          pieSeries.dataFields.category = "a";
          pieSeries.slices.template.stroke = am4core.color("#fff");
          pieSeries.slices.template.strokeWidth = 2;
          pieSeries.slices.template.strokeOpacity = 1;

          // This creates initial animation
          pieSeries.hiddenState.properties.opacity = 1;
          pieSeries.hiddenState.properties.endAngle = -90;
          pieSeries.hiddenState.properties.startAngle = -90;

          }); // end am4core.ready()
          </script>

          <!-- HTML -->
          <div id="chartdiv"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-category"> مسئول ایستگاه </h5>
        <h3 class="card-title"><i class="tim-icons icon-single-02 text-primary"></i> {{ station.manager }} </h3>
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <a href="javascript:void(0)">
              <img class="avatar" src="{{ request.user.profile.user_photo.url }}" >
              <h5 class="title">
                {{ request.user.last_name }} {{ request.user.first_name }}
              </h5>
            </a>
          </div>
        </p>
        <div class="card-description">
            {{ request.user.profile.email }}
        </div>
      </div>

    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
         stations location
      </div>

      {% load mapbox_location_field_tags %}
      {% location_field_includes %}
      {% include_jquery %}

        <div class="col-12  col-xl-12 pr-0 pr-md-4 ">
           {{  Station.location }}
          <div class="border" id="map" width="100%" style='height:400px'></div>
        </div>

            <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoiZG9yb3N0a2FyIiwiYSI6ImNrbmVjdzg3djFkb3EycG8wZW5sdjNld3YifQ.AeDSXrxKTXAxPdIEESuPqA';
                var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [17.69439, 51.42151],
                zoom: 9,
                // bearing: 180
                });
            </script>

    </div>
  </div>
</div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>


    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
