{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}



<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title"> ایستگاه {{ station.name }} <small> ({{ station.position }}) </small> </h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                Name
              </th>
              <th>
                Country
              </th>
              <th>
                City
              </th>
              <th class="text-center">
                Salary
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Dakota Rice
              </td>
              <td>
                Niger
              </td>
              <td>
                Oud-Turnhout
              </td>
              <td class="text-center">
                $36,738
              </td>
            </tr>
            <tr>
              <td>
                Minerva Hooper
              </td>
              <td>
                Curaçao
              </td>
              <td>
                Sinaai-Waas
              </td>
              <td class="text-center">
                $23,789
              </td>
            </tr>
            <tr>
              <td>
                Doris Greene
              </td>
              <td>
                Malawi
              </td>
              <td>
                 in Kärnten
              </td>
              <td class="text-center">
                $63,542
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12">
  <div class="card card-user">
    <div class="card-body">
      <p class="card-text">
        <div class="author">
          <div class="block block-one"></div>
          <div class="block block-two"></div>
          <div class="block block-three"></div>
          <div class="block block-four"></div>
          <img width="20%" src="{{ product.image.url }}">
        </div>
      </p>
      <div align="center" dir="rtl" class="card-description">
        <p class="category"> {{ station.description }} </p>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>


    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
